/*
#app {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
} */

html {
  overscroll-behavior-x: none;
  font-family: "Staatliches", cursive;
}

#myCanvas {
  top: 0;
  height: 100%;
}

/*
#background-color-div {
  will-change: background;
  animation-duration: 0.45s;
  animation-delay: 0.2s;
  animation-name: color-in;
  animation-timing-function: (cubic-bezier(0.53, 0.14, 0.63, 0.94));
}

@keyframes color-in {
  0% {
    opacity: 0;
    filter: brightness(10) saturate(0);
  }

  100% {
    opacity: 1;

    filter: brightness(1) saturate(1);
  }
} */

body {
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  margin: 0;
  overflow: hidden;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  overscroll-behavior-x: none;
}

li,
ul {
  list-style: none;
}

#app {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
  user-select: none;
  /*transition: color 500ms cubic-bezier(0.25, 0.46, 0.45, 0.94);*/
  will-change: transform, background;
  transition: background 1000ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

#load {
  position: absolute;
  top: 40px;
  left: 40px;
  font-size: 50px;
  line-height: 50px;
  letter-spacing: -0.23em;
}

#personNameButton {
  position: absolute;
  top: 40px;
  left: 40px;
  font-size: 50px;
  line-height: 50px;
  letter-spacing: -0.04em;
}

#personNameButton > span,
.about,
.close {
  overflow: hidden;
}

#personNameButton span span {
  display: block;
  will-change: color, transform;
  transform: translate3d(-110%, 0, 0);
}
/*ORIGINAL
#personNameButton span span {
  display: block;
  will-change: color, transform;
  transform: translate3d(-110%, 0, 0);
}*/

#personNameButton span {
  will-change: color, transform;
  float: left;
}

#load span {
  will-change: transform;
  overflow: hidden;
  float: left;
}

#load span span {
  padding-right: 10px;
  display: block;
  will-change: transform;
  transform: translate3d(0%, 0, 0);
}

.about,
.close {
  position: absolute;
  top: 40px;
  right: 40px;
}

#personNameButton > span,
.about a,
.close a {
  pointer-events: none;
}

#personNameButton span span,
#about-0,
.position {
  transition: color 800ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

#personNameButton span {
  transition: color 800ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

#about-0,
.position {
  will-change: transform, color;
  font-size: 12px;
  line-height: 12px;
}

#about-1 {
  will-change: transform;
  font-size: 20px;
  line-height: 20px;
}

#close-1 {
  will-change: transform;
  font-size: 12px;
  line-height: 12px;
}

a {
  display: block;
  text-decoration: none;
}

#position {
  position: absolute;
  bottom: 40px;
  left: 40px;
  font-size: 20px;
  line-height: 20px;
}

#position,
#position > div {
  overflow: hidden;
}

.position {
  display: table;
}
#position > div:last-child .position::after {
  content: "↗"; /*↩*/
  position: absolute;
  top: 0;
  right: 0; /*10???*/
  padding-left: 5px;
  transition: opacity 200ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transform: translateX(100%);
  opacity: 0;
  /*transform: rotate(180deg);*/
}
#position:hover > div:last-child .position::after {
  transition: opacity 400ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
  opacity: 1;
}

.about a,
.close a,
.position {
  transform: translate3d(0, 101%, 0);
}

.pgn {
  position: absolute;
}

.pgn {
  left: 0;
  width: 100%;
  height: 100%;
  margin-top: 1px;
}
.pgn div {
  will-change: transform;
}
.pgn,
.pgn > div {
  overflow: hidden;
}
.pgn > div {
  top: 0;
}
.pgn div div {
  padding: 0 2px;
  transform: translate3d(-100%, 0, 0);
}

#photos,
#photos-line div,
.pgn > div {
  position: absolute;
}
/*
#photos-line div {
  will-change: transform, border-color-right;
  transition: border-color-right 1800ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
*/
/*
animation-duration: 1s;
  animation-delay: 0s;
  animation-name: slider-gap-expansion;
  animation-timing-function: (cubic-bezier(0.94, 0.63, 0.14, 0.53));
  animation-fill-mode: forwards;
  transition: color 800ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
*/

@media (max-width: 700px) {
  #c2d,
  .pgn {
    display: none;
  }
}

#photos {
  top: 49px;
  left: 50%;
  transform: translateX(-50%);
  pointer-events: none;
}

#photos-line,
#photos-sign {
  overflow: hidden;
}

#photos-sign {
  margin: 13px auto;
  width: 14px;
  height: 14px;
  line-height: 0px;
  text-align: center;
  pointer-events: none;
}

#photos-sign div {
  margin: 0;
}

#photos-line {
  position: relative;
  width: 3px;
}
#photos-line div {
  left: 0;
  width: 1px;
  height: 100%;
  border-right-width: 1px;
  border-right-style: solid;
  transform: translate3d(0, -110%, 0);
  will-change: transform;
}

#photos-line,
#photos-target,
.title {
  pointer-events: none;
}

#photos-sign > div,
#photos-target > div,
#photos-line > div {
  transition: color 0ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition: transform 800ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

#photos-target {
  margin-top: 4px;
  overflow: hidden;
}

#photos-target > div {
  transform: translate3d(0, 101%, 0);
  will-change: transform color;
}

.title {
  height: 28.125vh;
  line-height: 28.125vh;
  font-size: 37.5vh;
}

.title {
  width: calc(100vw - 80px);
  left: 40px;
}

.title-top-row {
  top: calc(50% - 33.125vh);
}

.title,
.title > div {
  position: absolute;
}
.title > div {
  top: 0;
  left: 0;
  overflow: hidden;
}
.title div div {
  transform: translate3d(-101%, 0, 0);
}
.title div {
  will-change: transform;
}
.explore-word > div,
.information-left div div,
.information-right div div {
  transform: translate3d(0, -101%, 0);
  will-change: transform;
}

.explore {
  position: absolute;
}

.explore {
  bottom: 49px;
  left: 50%;
  transform: translateX(-50%);
  pointer-events: none;
}

#c2d,
#myCanvas,
.line-w {
  pointer-events: none;
}

.line-w {
  font-size: 12px;
  line-height: 34px;
  letter-spacing: -0.02em;
}

#c2d,
#myCanvas,
.line,
.line div {
  position: absolute;
  left: 0;
  width: 100%;
}
.line,
.line-about {
  bottom: 8px;
  height: 2px;
  pointer-events: none;
}
.line div {
  top: 0;
  height: 100%;
  will-change: transform, background;
}
.line div:last-child {
  transition: background 500ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
.line div:first-child {
  transition: background 500ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.line-about div:last-child {
  transition: background 800ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
.line-about div:first-child {
  transition: background 800ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.line-about div {
  top: 0;
  height: 100%;
  will-change: transform, background;
}

.explore-line,
.explore-word {
  overflow: hidden;
}

.explore-line {
  position: relative;
  margin: 9px auto 0;
  width: 3px;
}
.explore-line div {
  position: absolute;
  left: 0;
  width: 1px;
  height: 100%;
  border-right-width: 1px;
  border-right-style: solid;
}
.explore-line,
.explore-sign,
.information-left {
  pointer-events: none;
}
.explore-sign {
  margin: 13px auto 0;
  width: 14px;
  height: 14px;
  overflow: hidden;
  line-height: 0px;
}

.information-right div,
.explore-word div,
.explore-line div,
.explore-sign div {
  transition: transform 600ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
  /*transition-delay: 0.6s;*/
  will-change: transform;
}

#photos-sign div,
.explore-line div {
  transform: translate3d(0, -110%, 0);
  will-change: transform;
}

/*
#photos-sign div {
  transform: translate3d(0, 110%, 0);
  will-change: transform;
}
*/

.explore-sign div {
  transform: translate3d(0, 0%, 0);
  /*will-change: transform;*/
}
.information-left {
  position: absolute;
  bottom: 47px;
  left: 50%;
  font-size: 12px;
  line-height: 12px;
  letter-spacing: 0.02em;
  transform: translateX(-100%);
}
.information-left > div {
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
}
.information-left div div:nth-child(1) {
  width: 30px;
  font-size: 6px;
}
.information-left div div:nth-child(2) {
  width: 130px;
}
.information-left div div:nth-child(3) {
  width: 250px;
}
.information-right,
.pgn {
  position: absolute;
}
.information-right {
  bottom: 48px;
  left: calc(50% + 140px);
  font-size: 12px;
  line-height: 12px;
  letter-spacing: 0.02em;
  pointer-events: none;
}
.information-right > div {
  overflow: hidden;
}

.stuff {
  z-index: 1;
}

/*Image track*/
#slider-container {
  width: 100vw;
  height: 40vh;
  top: 30vh;
  position: relative;
}

.hidden {
  display: none;
}

/*will start of screen
after page load, will come in*/
.picture-group-slider {
  display: flex;
  gap: 2vh;
  position: absolute;
  left: 50%;
  transform: translate(0%, 0%);

  /*transition: transform 1000ms cubic-bezier(0, 0, 0.19, 1);*/
  /*transition-delay: 0.6s;*/
  will-change: transform, gap;
}

.slider-in-focus {
  transition: transform 1000ms cubic-bezier(0, 0, 0.19, 1);
}

/*
Having a problem. after clicking explore, and return back to original layout, 
Explored image is in correct spot. all other images are 10vh above? why?
reread animation fill mode

Hypothesis: animating the -10vhof removeExploreClick sticks. how do we remove?

*/

.selected {
  animation-duration: 1s;
  animation-delay: 0s;
  animation-name: slider-gap-expansion;
  animation-timing-function: (cubic-bezier(0.94, 0.63, 0.14, 0.53));
  animation-fill-mode: forwards;
}

.unselected {
  animation-duration: 1s;
  animation-delay: 0s;
  animation-name: slider-gap-shrivel;
  animation-timing-function: (cubic-bezier(0.94, 0.63, 0.14, 0.53));
  animation-fill-mode: backwards;
}

@keyframes slider-gap-expansion {
  0% {
    gap: 2vh;
  }

  100% {
    gap: 12vh;
  }
}
@keyframes slider-gap-shrivel {
  0% {
    gap: 12vh;
  }

  100% {
    gap: 2vh;
  }
}

.picture-group-slider > .image {
  width: 15vh;
  height: 40vh;
  object-fit: cover;
  object-position: 100% 50%;
  left: 50vw;
  position: relative;
}

.picture-group-slider > .image:hover {
  filter: none;
}

.image {
  filter: grayscale(100%);
  transition: filter 600ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
  /*transition-delay: 0.6s;*/
  will-change: filter;
}

.picture-group-slider > .chosen {
  animation-duration: 1s;
  animation-delay: 0s;
  animation-name: selected-pic-an;
  animation-timing-function: (cubic-bezier(0.53, 0.14, 0.63, 0.94));
  animation-fill-mode: forwards;
  /*the animation makles it look like it moves in when loading*/
  height: 60vh;
  width: calc(60vh * (5 / 7));
  /*transform: translate(0%, -10vh);*/
}

.picture-group-slider > .scroll-on-chosen {
  animation-duration: 1s;
  animation-delay: 0s;
  animation-name: scroll-selected-pic-an;
  animation-timing-function: (cubic-bezier(0.94, 0.63, 0.14, 0.53));
  animation-fill-mode: backwards;

  height: 40vh;
  width: 15vh;
  transform: translate(0%, 0vh);
}

/*MAYBE just zoom-in slider when an image is clicked?*/
/*also center that image*/

/*
.animate {
  animation-duration: 1.75s;
  animation-delay: 0.5s;
  animation-name: selected-pic-an;
  animation-timing-function: (cubic-bezier(0.53, 0.14, 0.63, 0.94));
  animation-fill-mode: backwards;
}

.animate.glow {
  animation-name: animate-glow;
  animation-timing-function: ease;
} */

@keyframes selected-pic-an {
  0% {
    transform: translate(0%, 0%);
    height: 40vh;
    width: 15vh;
  }

  100% {
    transform: translate(0%, -10vh);
    height: 60vh;
    width: calc(60vh * (5 / 7));
  }
}

@keyframes scroll-selected-pic-an {
  0% {
    transform: translate(0%, -10vh);
    height: 60vh;
    width: calc(60vh * (5 / 7));
  }

  100% {
    transform: translate(0%, 0%);
    margin-left: 0vh;
    height: 40vh;
  }
}

.selected-pic {
  filter: none;
}

.picture-group-slider > .explore-action {
  animation-duration: 1s;
  animation-delay: 0s;
  animation-name: explore-action;
  animation-timing-function: cubic-bezier(0.17, 0.74, 0.27, 0.94);
  animation-fill-mode: forwards;

  /*
  height: 40vh;
  width: 15vh;
  transform: translate(0%, 0vh);
  */
}

@keyframes explore-action {
  0% {
    transform: translate(0%, -10vh);
  }

  100% {
    transform: translate(0%, -100vh);
  }
}

.picture-group-slider > .un-explore-action {
  animation-duration: 1s;
  animation-delay: 0s;
  animation-name: no-explore-action;
  animation-timing-function: cubic-bezier(0.17, 0.74, 0.27, 0.94);
  animation-fill-mode: forward; /*none?*/
}

@keyframes no-explore-action {
  0% {
    transform: translate(0%, -100vh);
  }

  100% {
    transform: translate(0%, -10vh);
  }
}
/*
rules such as transform: translateZ(0); inform the browser to transfer work to the GPU if 
possible, which takes a load off the CPU – Felipe
https://stackoverflow.com/questions/31713468/css-blur-filter-performance
*/

@media (min-aspect-ratio: 1660/1200) {
  .information-left span {
    display: inline-block;
  }
  .title {
    height: 28.125vh;
    line-height: 28.125vh;
    font-size: 20.5vh;
  }
  .title-top-row {
    top: calc(50% - 33.125vh);
  }

  .title-top-row {
    top: calc(50% - 33.125vh);
  }

  .title-bottom-row {
    top: calc(50% - 5vh);
  }
  .title > div {
    margin-left: -3.33333vh;
  }
  .title div div {
    padding-left: 3.33333vh;
    padding-right: 3.33333vh;
  }
  #w-l {
    width: 96.2963vh;
    height: 54.16667vh;
  }
}
@media (max-aspect-ratio: 1660/1200) {
  .a-li span {
    display: inline-block;
  }
  .title {
    height: 19.87952vw;
    line-height: 19.87952vw;
    font-size: 26.50602vw;
  }
  .title-top-row {
    top: calc(50% - 23.49398vw);
  }
  .title-bottom-row {
    top: calc(50% - 3.61446vw);
  }
  .title > div {
    margin-left: -2.40964vw;
  }
  .title div div {
    padding-left: 2.40964vw;
    padding-right: 2.40964vw;
  }
  #w-l {
    width: 69.61178vw;
    height: 39.15663vw;
  }
}

@media (min-height: 760px) {
  .explore-line {
    height: 34px;
  }
}

@media (min-height: 700px) and (max-height: 760px) {
  .explore-line {
    height: 3.4vh;
  }
}
@media (min-height: 660px) and (max-height: 700px) {
  .explore-line {
    height: 2.5vh;
  }
}
@media (max-height: 660px) {
  .explore-line {
    height: 2vh;
  }
}

/*
@keyframes top-row-drop {
  from {
    transform: translate3d(0%, 0%, 0%);
  }
}
*/

.animate {
  animation-duration: 0.45s;
  animation-delay: 0.2s;
  animation-name: animate-fade;
  animation-timing-function: (cubic-bezier(0.53, 0.14, 0.63, 0.94));
  animation-fill-mode: backwards;
}

.glow {
  animation-name: animate-glow;
  animation-timing-function: ease;
}

.animate .fade {
  animation-name: animate-fade;
  /*animation-timing-function: ease;*/
}

@keyframes animate-glow {
  0% {
    opacity: 0;
    transform: scale(0, 1);
    filter: brightness(1) saturate(0);
    /*transform: translate3d(101%, 0%, 0px);*/
  }

  100% {
    opacity: 1;
    transform: scale(1, 1);
    filter: brightness(1) saturate(1);
    /*transform: translate3d(0%, 0%, 0px);*/
  }
}

@keyframes animate-fade {
  0% {
    opacity: 1;
    transform: scale(1, 1);
    filter: brightness(1) saturate(1);
    /*transform: translate3d(0%, 0%, 0px);*/
  }
  100% {
    opacity: 1;
    transform: scale(0, 1);
    filter: brightness(1) saturate(0);
    /*transform: translate3d(101%, 0%, 0px);*/
  }
}

.letter {
  animation-duration: 0.45s;
  animation-delay: 0.5s;
  animation-name: letter-fade;
  animation-timing-function: (cubic-bezier(0.53, 0.14, 0.63, 0.94));
  animation-fill-mode: forwards;
}

.letter .glow {
  animation-name: letter-glow;
  animation-timing-function: ease;
}

.letter .fade {
  animation-name: letter-fade;
  animation-timing-function: ease;
}

.info-right-letter .glow {
  transform: translate3d(0%, -101%, 0px);
}

.info-right-letter .glow {
  animation-duration: 0.45s;
  animation-delay: 0.5s;
  animation-timing-function: (cubic-bezier(0.53, 0.14, 0.63, 0.94));
  animation-fill-mode: forwards;
  animation-name: letter-glow;
  animation-timing-function: ease;
  transform: translate3d(0%, 0%, 0px);
}

@keyframes letter-glow {
  0% {
    opacity: 0;
    filter: brightness(1) saturate(0);
    transform: translate3d(0%, -101%, 0px);
  }

  100% {
    opacity: 1;

    filter: brightness(1) saturate(1);
    transform: translate3d(0%, 0%, 0px);
  }
}

@keyframes letter-fade {
  0% {
    opacity: 1;
    transform: scale(1, 1) (0%, 0%, 0px);
    filter: brightness(1) saturate(1);
  }
  100% {
    opacity: 0;
    transform: scale(0, 1) translate3d(0%, -101%, 0px);
    filter: brightness(1) saturate(0);
  }
}

.hidden {
  display: none;
}

@media screen and (max-width: 1250px) {
  .information-left {
    display: none;
  }
  .information-right {
    display: none;
  }
}

@media (min-height: 870px) {
  #photos-line {
    margin: 11px auto 0;
    height: 16px;
  }
}
@media (min-height: 810px) and (max-height: 870px) {
  #photos-line {
    margin: 11px auto 0;
    height: 1.2vh;
  }
}
@media (max-height: 810px) {
  #photos-line {
    height: 0;
  }
}

@media screen and (max-width: 450px) {
  #slider-container {
    display: none;
  }

  .stuff {
    display: none;
  }

  #app {
    min-width: 185px;
  }
}

@media screen and (max-width: 250px) {
  .about {
    display: none;
  }
}
