@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 199, 199, 199;
  --background-end-rgb: 219, 219, 219;
}

/*
@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}*/

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

/*Navbar*/
.navbar-wrapper {
  width: 60px;
  height: 100%;
  position: fixed;
  /*left: -300px;*/
  left: 0;

  right: auto;
  bottom: auto;
  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: center;

  z-index: 100;
}

.navbar-cont {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.navbar-brand {
  background-color: #000;
  width: 33px;
  height: 33px;
  display: block;
  color: white;

  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-menu-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  margin: 50px 0;
}

.w-nav-menu {
  position: relative;
  float: right;
}
.nav-menu {
  display: flex;
  flex-direction: column;
  background-color: rbga(0, 0, 0, 0);
  align-self: auto;
  align-items: center;
  margin: 10px 0;
  position: relative;
}
.nav-link-wrapper {
  /*transform: rotate(-90deg);
  float: right;*/

  /*
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: stretch;
  */

  width: auto;
  color: #000;

  text-align: center;
  /*align-self: stretch;*/
  margin: 25px 0;
  justify-self: center;

  height: 60px;

  display: flex;
  align-items: center;
  /*padding: 10px 10px 5px;*/
  transition: font-variation-settings 0.25s;
  position: relative;
  transform: rotate(-90deg);
}

.t-sideways {
  position: relative;
  rotate: -90deg;
  display: block;

  margin: 0 auto;
}

/*HERO*/
.hero-wrapper {
  padding-right: 3rem;
  padding-left: 5rem;
  display: block;
  overflow: visible;
}

.entire-viewport {
  height: 95vh;
  width: 100%;
}

.hero-flex {
  padding-top: 100px;
  padding-bottom: 50px;

  display: flex;
  flex-direction: row;
}

.hero-left {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hero-right {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hero-heading {
  font-size: 12.5vw;
  line-height: 100%;
}

.hero-heading.loc {
  display: flex;
  gap: 3vw;
}

.filler {
  height: 100%;
  width: 100%;
  flex: 1;
}

.hl-top-row {
  display: flex;
  justify-content: center;
  height: 30%;
  gap: 20%;
}

.hltr-t {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 60%;
}

.avatar {
  height: 100%;
  width: 40%;
  display: flex;
  flex-direction: column;

  position: relative;
}

.av-t {
  height: 80%;
  width: 100%;
  display: flex;
  flex-direction: row;

  position: relative;
  justify-content: space-around;
}

.name-cont {
  height: 20%;
  background-color: steelblue;
  border-radius: 60px;
  padding: 0 auto 0 auto;
  position: relative;

  rotate: -15deg;
}

.nc-t {
  height: 80px;
  width: fit-content;
  padding: 0 20px;
  border-radius: 60px;
  padding: 0 auto 0 auto;
  position: relative;

  rotate: -5deg;
}

.nca-cont {
  padding: 0 10px;
}

.name-cont-a {
  height: 100%;

  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: steelblue;
  padding: 2px 10px;
}

.name-cont-a > p {
  display: inline-block;
}

.avatar-img {
  height: 100%;
  border-radius: 20px;
  /*position: relative;*/

  width: 100%;
  overflow: hidden;

  position: relative;
  z-index: 1;
}

.ai-t {
  /*height: 100%;*/

  aspect-ratio: 3 / 4;
  border-radius: 20px;
  /*position: relative;*/
  /*max-height: 280px;
  move to cont? (.avatar)*/
  overflow: hidden;
  position: relative;
  z-index: 100;

  max-height: 280px;
}
.avatar-img img {
  /*height: 100%;*/
  object-fit: cover;
}

.mg-box-div {
  width: 20%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.mg-box-cont {
  background-color: coral;
  width: 100%;
  aspect-ratio: 1;
  rotate: 19deg;

  display: flex;
  align-items: center;
  justify-content: center;

  position: relative;
}

.mg-box-cont img {
  padding: 0 5%;
}

/*hero-left bottom row*/
.hero-left-bot {
  display: flex;
  flex-direction: row;
}

.hlb-left,
.hlb-right {
  display: flex;
  flex-direction: column;
  flex: 1;

  justify-content: space-between;
}

.get-in-touch-div {
  rotate: -15deg;
  display: flex;
  justify-content: center;
}

.btn-get-in-touch {
  background-color: aquamarine;
  border-radius: 20px;
  height: 55px;
  width: fit-content;
  padding: 10px 20px 10px 20px;
  display: flex;
  align-items: center;
}

.abt-me-div {
  width: 100%;
  height: 80px;
  width: fit-content;
}

.btn-about-me {
  background-color: rgb(255, 186, 255);
  height: 100%;
  width: 40%;
  border-radius: 20px;
}

.btn-about-me {
  background-color: rgb(255, 186, 255);
  height: 100%;
  width: 100%;
  border-radius: 20px;
  padding: 0 20px 0 20px;
}

.name-cont-a .typed-out {
  overflow: hidden;
  border-right: 0.15em solid orange;
  white-space: nowrap;
  font-size: 1.6rem;
  width: 0;
  animation: typing 1s steps(20, end) forwards;

  margin: 0 10px;
}

/*
.name-cont-a > .typed-out:nth-child(2) {
  animation-delay: 1s;
}

.name-cont-a > .typed-out:last-child {
  animation-delay: 1.3s;
}
*/

@keyframes typing {
  0% {
    width: 0;
    border-right: 0.15em solid orange;
  }

  95% {
    border-right: 0.15em solid orange;
  }

  100% {
    width: 95%;
    border-right: 0em solid transparent;
  }
}

.in-div {
  display: flex;
  align-items: center;
  justify-content: center;
}
.in-a {
  width: fit-content;
}

.in-btn {
  background-color: beige;
  border-radius: 4px;
  aspect-ratio: 1;
  height: 40px;
  box-shadow: 3px 6px 6px rgba(0, 0, 0, 0.7);
  rotate: 3deg;
}

.work-div {
  width: auto;
  display: flex;
  flex-direction: row;
}

.work-btn {
  height: 120px;
  width: 120px;
  background-color: #dffd36;
  border-radius: 20px;
}

.work-btn {
  display: flex;
  justify-content: center;
  align-items: center;
}

.a-btn {
  transition-duration: 0.3s;
  display: flex;
}
.a-btn:hover {
  transform: scale(1.2);
}

#initial-spinner {
  animation: spinning 10s infinite linear;
}
@keyframes spinning {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/*WORK HISTORY SCTION*/
.resume-career {
  display: flex;
  flex-direction: column;
  padding: 0 48px 250px 80px;
}

.each-exp {
  display: flex;
  flex-direction: column;

  /*
  when it moves on hover, we don't
  want the page to become scrollable 
  from left to right.
  (The page width expands)
  */
  overflow-x: hidden;
}

.exp-title {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 0.5fr 1fr 1.25fr;

  padding: 40px 0;
  transition: transform 0.3s;
}

.exp-title {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: minmax(100px, 0.5fr) 1fr 1.25fr;

  padding: 40px 0;
  transition: transform 0.3s;
}

.exp-title:hover {
  /*animation: slide-right-some 0.5s ease-in-out both;*/
  transform: translateX(50px);
  color: blue;
}

.exp-det.b {
  font-weight: 600;
  font-size: 24px;
}

@keyframes slide-right-some {
  0% {
    transform: translateX(0px);
  }

  10% {
    color: blue;
  }
  100% {
    transform: translateX(50px);
    color: blue;
  }
}

.exp-desc {
  display: none;
}

.linea {
  height: 1px;
  background-color: darkgray;
}

.desc-desc {
}

.exp-desc.show {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 1fr 3fr;
  padding-bottom: 40px;
}

/*Stack*/
.stack {
  border-radius: 0 0 20px 20px;
}

.stack-cont {
  padding: 0 48px 250px 80px;
}

.stack-header {
  display: flex;
  flex-direction: row;
  justify-content: start;
  column-gap: 10%;
}

.stack-title {
  width: 30%;
  font-size: 48px;
  font-weight: 400;
  line-height: 1.2;
}

.stack-fill {
  width: 10%;
  background-color: red;
}

.stack-lang {
  display: flex;
  flex-direction: column;
  padding-top: 64px;
  padding-bottom: 24px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.7);
}

.stack-lang-header {
  font-size: 32px;
  line-height: 1.2;
  text-align: left;
  font-weight: 400;
  margin-bottom: 16px;
}

.stack-lang-det {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;

  margin: 16px 0px;
}

.stack-lang-item {
  display: flex;
  flex-direction: row;
  gap: 10px;

  border-radius: 20px;

  align-items: center;
  justify-content: center;

  padding: 5px 20px;
}

.stack-lang-det > .stack-lang-item:nth-child(n) {
  background-color: rgba(153, 142, 142, 0.16);
  border: 1px solid rgba(73, 73, 73, 0.16);
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.172);
  color: black;
}

/* BETTER to have them all that light grey color
.stack-lang-det > .stack-lang-item:nth-child(2n + 1) {
  background-color: rgba(0, 0, 0, 0.308);
  border: 1px solid rgba(255, 253, 253, 0.644);
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.172);
  color: white;
}
*/

.stack-lang-title {
  /*always define heights*/
  height: 40px;

  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.stack-lang-h1 {
  font-size: 20px;
  line-height: 1;
}

/*Custom stack classes*/
.si {
  max-width: 32px;
  max-height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.stack-item-JavaScript,
.stack-item-TypeScript {
  overflow: hidden;
  border-radius: 10px 20px;
}

.stack-item-Selenium {
  overflow: hidden;
  border-radius: 5px;
}

.sect-wrapper {
  position: relative;
  z-index: 1;
  background-color: white;

  border-radius: 0 0 20px 20px;
}

/*Projects Section*/

.projects-wrapper {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 1;

  padding: 0 40px 100px 80px;
}

.projects-cont {
  display: grid;
  position: relative;

  grid-template-columns: repeat(2, 1fr) 0.5fr repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr) 0.2fr repeat(2, 1fr) 0.2fr repeat(2, 1fr) 0.2fr repeat(
      2,
      1fr
    );
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.proj-1 {
  grid-area: 1 / 1 / 3 / 3;
}
.proj-2 {
  grid-area: 4 / 4 / 6 / 6;
}
.proj-3 {
  grid-area: 7 / 1 / 9 / 3;
}
.proj-4 {
  grid-area: 10 / 4 / 12 / 6;
}

.each-proj {
  border-radius: 20px;
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
  overflow: hidden;

  aspect-ratio: 16 / 9;
}

.each-proj img {
  height: 105%;
  object-fit: cover;
}
.proj-tag-cont {
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  bottom: 0;
  left: 0;

  padding-left: 10px;
  padding-bottom: 10px;
}
.proj-tag {
  display: flex;
  align-items: center;
  justify-content: center;
}

.outline-cs {
  background-color: rgba(153, 153, 153, 0.836);
  border: 1px solid rgba(73, 73, 73, 0.16);
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.172);
}

.outline-cs-1 {
  background-color: rgba(80, 80, 80, 0.235);
  color: white;
  border: 1px solid rgba(255, 255, 255, 0.16);
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.172);
}

.tag-cont {
  border-radius: 10px;
  padding: 0 10px;
}

.pro-tag {
}

/*Footer Section*/
.false-footer {
  height: 100vh;
  width: 100%;

  margin-bottom: 20px;
  position: relative;

  z-index: -1;
}
.footer {
  position: fixed;
  display: flex;
  flex-direction: column;

  height: 100vh;
  width: 100vw;

  justify-content: center;
  align-items: center;

  top: auto;
  left: 0;
  right: 0;
  bottom: 0;

  z-index: -1;
  background-color: black;
}

/*change this with media query*/
.footer {
  padding: 0 8rem 0 8rem;
}

.test-sb {
  height: 85vh;
  width: 100%;
  position: relative;
  display: grid;

  align-self: flex-end;

  grid-template-columns: 1fr 1fr;
  grid-template-rows: 4fr 4fr 1fr;

  padding-bottom: 20px;
}

.fill {
  height: 100%;
  width: 100%;

  color: white;

  text-align: center;
}

.footer-initials {
  height: fit-content;
  justify-self: start;
  align-self: end;

  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 3;
  grid-row-end: 4;
}
.copy {
  color: white;
  justify-self: end;
  align-self: flex-end;

  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 4;
}

/*
change columns grid in media query.
note above contact instead of side-by-side
*/
.footer-note {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 3;
}

.footer-contact {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 3;
}

.footer-note {
  color: white;
  font-size: 80px;
  line-height: 1.2;
  font-weight: 400;
}

.footer-note-gradient {
  background-color: red;
  background-image: linear-gradient(45deg, #f3ec78, #af4261);

  background-size: 500% auto;
  background-repeat: repeat;

  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;

  animation: bg-motion 5s ease-in-out infinite alternate;
}

@keyframes bg-motion {
  0% {
    background-position: 0% 50%;
  }
  to {
    background-position: 100% 50%;
  }
}

.footer-contact {
  display: flex;
  flex-direction: column;
}

@media (max-width: 1000px) {
  .hero-wrapper {
    padding-left: 80px;
    padding-right: 48px;
    padding-bottom: 80px;
    margin-bottom: 100px;
  }
  .hero-flex {
    flex-direction: column;
    row-gap: 70px;
  }

  .her-flex > .hero-right {
    align-self: flex-start;
  }
  .hero-left {
    width: 100%;
    height: auto;
    flex-direction: column;
  }

  .hl-top-row {
    height: 100%;
    gap: 0;
  }

  .hltr-t {
    height: auto;
  }

  .name-cont-a {
    height: auto;
    margin: 0;
  }

  .hero-right {
    width: 100%;
    height: min-content;
  }

  .hero-heading {
    font-size: 16vw;
  }

  .av-t {
    flex-direction: row-reverse;
  }

  .get-in-touch-div {
    justify-content: flex-start;
  }

  .work-div {
    justify-content: flex-end;
  }
  .work-btn {
    transform: translateX(-20px);
    rotate: -3deg;
  }

  .hlb-right {
    justify-content: flex-start;
  }

  .in-div {
    justify-content: flex-end;
    height: fit-content;
  }
  .in-a {
    width: fit-content;
  }

  /*
  .mg-box-div {
    width: 10%;
    transform: translateX(50%);
  }*/

  .test-sb {
  }

  .footer {
    padding: 0 40px 0 40px;

    min-width: 0;
    min-width: 0;
    overflow: hidden;
  }

  .footer-note {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
  }

  .footer-contact {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
  }

  .footer-note {
    color: white;
    font-size: 48px;
    line-height: 1.2;
    font-weight: 400;
    align-self: center;
  }
}

@media (max-width: 767px) {
  .navbar-wrapper {
    width: auto;
    height: auto;
    top: 0%;
    bottom: auto;
    left: 0%;
    right: 0%;

    align-items: flex-start;
  }

  .navbar-cont {
    padding: 20px 20px 0 20px;
    width: auto;
    flex-direction: row;
    margin-top: 0;
  }

  .nav-menu-wrapper {
    display: none;
  }

  .nav-in {
    display: none;
  }

  .hero-wrapper {
    padding-left: 30px;
    padding-right: 20px;
    padding-bottom: 20px;
    margin-bottom: 100px;
  }

  .hero-flex {
    flex-direction: column-reverse;
    justify-content: flex-end;
    row-gap: 0px;
    padding-bottom: 50px;
  }

  .her-flex > .hero-right {
    align-self: flex-start;
  }
  .hero-left {
    width: 100%;
    height: 50%;

    margin-top: 10vw;
    flex-direction: column;
  }

  .hl-top-row {
    height: 100%;
    gap: 0;
  }

  .hero-right {
    width: 100%;
    height: min-content;
  }

  .hero-heading {
    font-size: 20vw;
  }

  .av-t {
    flex-direction: row;
  }

  .resume-career,
  .stack-cont {
    padding: 0 20px 100px 20px;
  }

  .test-sb {
  }

  .footer {
    padding: 0 40px 0 40px;

    min-width: 0;
    min-width: 0;
    overflow: hidden;
  }
  /*
  .footer-note {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
  }

  .footer-contact {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
  }

  .footer-note {
    color: white;
    font-size: 48px;
    line-height: 1.2;
    font-weight: 400;
    align-self: center;
  }
  */
}

@media (max-width: 525px) {
  .hero-wrapper {
    padding-bottom: 10px;
    margin-bottom: 10px;
  }

  .hero-flex {
    padding-bottom: 10px;
  }

  .hero-left {
    justify-content: space-between;
  }

  .resume-career {
    margin-top: -100px;
  }

  .exp-title {
    display: flex;
    flex-direction: column;
    padding: 40px 0;
  }
}

@media (max-width: 490px) {
  .navbar-wrapper {
    position: absolute;
  }
}

/*TESTING*/
@media (min-width: 1001px) {
  .hero-left {
    row-gap: 1vh;
  }
  .hltr-t {
    justify-content: space-between;
  }

  .av-t {
    height: 20%;
  }

  .work-div {
    position: relative;
    left: -1vw;
    rotate: 1.5deg;
  }

  .abt-me-div {
    position: relative;
    left: 1vw;
  }
}

.hlb-top,
.hlb-bot {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.hl-top-row,
.hlb-bot,
.av-t,
nc.t {
  margin: 1vh;
}

.burger-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  height: 40px;
  width: 40px;
  margin: 10px 10px 0 0;
  padding: 10px;
}

.burger-wrapper {
  top: 0%;
  bottom: 0%;
  left: auto;
  right: 0%;

  position: fixed;
  z-index: 2000;
}

.burger-line {
  height: 3px;
  width: 20px;
  margin: 2px 0;
  border-radius: 2px;

  transition: all 0.6s ease-in-out;
  transition-delay: 0.3s;
}

.burger-list-wrapper {
  height: 100vh;
  width: 100%;
  background-color: #000;
  padding-left: 20vw;

  position: fixed;
  z-index: 1000;
  top: 0%;
  bottom: 0%;
  right: 0%;
  bottom: 0%;

  transition: transform 0.6s ease-in-out;
}

.burger-status-open {
}

.burger-list {
  display: flex;
  flex-direction: column;
  color: white;
  height: 100%;
  align-items: flex-start;
  justify-content: center;

  row-gap: 50px;
}

.nav-link-mobile {
  font-size: 50px;
  line-height: 1.2;
  padding: 10px;
}
